<%- include("head") -%>

<h2 style="color:white">About</h2>
<p style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt modi possimus? Suscipit error delectus repellendus, labore similique reiciendis mollitia soluta est. Mollitia, laborum molestias sed magnam natus nam tenetur.</p>

<%- include('foot') -%>